.cities {
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

nav {
  width: 100%;
  position: sticky !important;
  top: 0;
  z-index: 20;
  background-color: white;
}

.navbar-nav .nav-item .nav-link:hover {
  color: black;
  background-color: #f0f0f0;
}

.nav-items {
  flex-direction: row;
}

.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.search-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  max-height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
}
.search-dropdown a:hover{
  background-color: #888;
  border-radius: 10px;
  padding-left: 3px;
}

.uni-card {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 29px;
  box-shadow: 0px 9px 4px #00000040;
  height: 340px;
  overflow: hidden;
  width: 251px;
  position: relative;
  display: inline-block;
}
 .uni-card:hover {
  translate: 0 -4px;
 }

.uni-card .overlap-group {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 50%, rgb(0, 0, 0) 97.92%);
  height: 340px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.uni-card .overlap-group .text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  /* This will make the text overflow without an ellipsis */
  color: #ffffff;
  font-family: "Rakkas-Regular", Helvetica;
  font-size: 22px;
  /* You may want to adjust the font size */
  font-weight: 400;
  position: absolute;
  text-align: center;
  margin-bottom: 1rem;
  max-width: fit-content;
  width: 100%;

}

.contact-list {
  list-style: none;
  padding: 0;
  margin-left: 30px;
}

.contact-list li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 2;
}

.contact-icon {
  margin-right: 10px;
  font-size: 24px;
}

.contact-list a {
  text-decoration: none;
  color: #333;
}

.contact-list a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-items {
    flex-direction: column;
  }
}